<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feature.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,603},{194,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,59}}</string>
                <key>sourceSize</key>
                <string>{194,59}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{174,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,197}}</string>
                <key>sourceSize</key>
                <string>{174,197}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,599}}</string>
                <key>sourceSize</key>
                <string>{512,599}</string>
            </dict>
            <key>lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{326,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,59}}</string>
                <key>sourceSize</key>
                <string>{326,59}</string>
            </dict>
            <key>stuff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,664},{157,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,165}}</string>
                <key>sourceSize</key>
                <string>{157,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{516,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5d5ea1a2eb40c8446880cfb5fd0ba3$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
