<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anniu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,116},{124,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1921,116},{124,112}}</string>
				<key>sourceSize</key>
				<string>{124,112}</string>
			</dict>
			<key>anniu_01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,75},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1273,75},{120,40}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>anniu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,75},{155,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,75},{155,139}}</string>
				<key>sourceSize</key>
				<string>{155,139}</string>
			</dict>
			<key>anniu_01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,2},{155,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1780,2},{155,139}}</string>
				<key>sourceSize</key>
				<string>{155,139}</string>
			</dict>
			<key>anniu_03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,75},{76,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1397,75},{76,80}}</string>
				<key>sourceSize</key>
				<string>{76,80}</string>
			</dict>
			<key>anniu_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,159},{86,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1320,159},{86,80}}</string>
				<key>sourceSize</key>
				<string>{86,80}</string>
			</dict>
			<key>anniu_04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,75},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1315,75},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>TOTALBET.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,230},{121,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1159,230},{121,20}}</string>
				<key>sourceSize</key>
				<string>{121,20}</string>
			</dict>
			<key>anniu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,157},{76,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1402,157},{76,80}}</string>
				<key>sourceSize</key>
				<string>{76,80}</string>
			</dict>
			<key>anniu_00B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,75},{155,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1480,75},{155,139}}</string>
				<key>sourceSize</key>
				<string>{155,139}</string>
			</dict>
			<key>anniu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,75},{82,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1189,75},{82,80}}</string>
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>FREEGAME.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,230},{125,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,230},{125,20}}</string>
				<key>sourceSize</key>
				<string>{125,20}</string>
			</dict>
			<key>caozuo_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1028,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1028,248}}</string>
				<key>sourceSize</key>
				<string>{1028,248}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,2},{372,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1406,2},{372,71}}</string>
				<key>sourceSize</key>
				<string>{372,71}</string>
			</dict>
			<key>anniu_02B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,2},{124,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1921,2},{124,112}}</string>
				<key>sourceSize</key>
				<string>{124,112}</string>
			</dict>
			<key>anniu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,75},{155,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1621,75},{155,139}}</string>
				<key>sourceSize</key>
				<string>{155,139}</string>
			</dict>
			<key>anniu_07C.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,230},{23,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1282,230},{23,36}}</string>
				<key>sourceSize</key>
				<string>{23,36}</string>
			</dict>
			<key>jinbi_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,2},{372,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,2},{372,71}}</string>
				<key>sourceSize</key>
				<string>{372,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GoldBlitzBottom.png</string>
			<key>size</key>
			<string>{2047,255}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>GoldBlitzBottom.png</string>
		</dict>
	</dict>
</plist>
