<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10109_symbols_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{143,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,273},{143,43}}</string>
				<key>sourceSize</key>
				<string>{143,43}</string>
			</dict>
			<key>10109_symbols_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{168,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{168,132}}</string>
				<key>sourceSize</key>
				<string>{168,132}</string>
			</dict>
			<key>10109_symbols_cherry.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,252},{136,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{293,252},{136,94}}</string>
				<key>sourceSize</key>
				<string>{136,94}</string>
			</dict>
			<key>10109_symbols_wild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1},{151,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,1},{151,123}}</string>
				<key>sourceSize</key>
				<string>{151,123}</string>
			</dict>
			<key>10109_symbols_bar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,140},{142,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{149,140},{142,124}}</string>
				<key>sourceSize</key>
				<string>{142,124}</string>
			</dict>
			<key>10109_symbols_7_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{146,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,135},{146,136}}</string>
				<key>sourceSize</key>
				<string>{146,136}</string>
			</dict>
			<key>10109_symbols_7_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1},{146,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{171,1},{146,137}}</string>
				<key>sourceSize</key>
				<string>{146,137}</string>
			</dict>
			<key>10109_symbols_wild_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,126},{149,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,126},{149,124}}</string>
				<key>sourceSize</key>
				<string>{149,124}</string>
			</dict>
			<key>10109_symbols_bar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,266},{142,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{149,266},{142,83}}</string>
				<key>sourceSize</key>
				<string>{142,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10109_symbols.png</string>
			<key>size</key>
			<string>{472,352}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10109_symbols.png</string>
		</dict>
	</dict>
</plist>
