<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10109_base_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1},{31,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,1},{31,18}}</string>
				<key>sourceSize</key>
				<string>{31,18}</string>
			</dict>
			<key>10107_base_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,436},{46,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,436},{46,38}}</string>
				<key>sourceSize</key>
				<string>{46,38}</string>
			</dict>
			<key>10109_base_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,377},{78,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,377},{78,82}}</string>
				<key>sourceSize</key>
				<string>{78,82}</string>
			</dict>
			<key>10109_base_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,377},{42,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{620,377},{42,67}}</string>
				<key>sourceSize</key>
				<string>{42,67}</string>
			</dict>
			<key>10109_base_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,377},{36,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{582,377},{36,127}}</string>
				<key>sourceSize</key>
				<string>{36,127}</string>
			</dict>
			<key>10109_base_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,29},{46,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{621,29},{46,290}}</string>
				<key>sourceSize</key>
				<string>{46,290}</string>
			</dict>
			<key>10109_base_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,29},{184,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,29},{184,290}}</string>
				<key>sourceSize</key>
				<string>{184,290}</string>
			</dict>
			<key>10109_base_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,29},{191,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,29},{191,290}}</string>
				<key>sourceSize</key>
				<string>{191,290}</string>
			</dict>
			<key>10109_base_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{179,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,321},{179,154}}</string>
				<key>sourceSize</key>
				<string>{179,154}</string>
			</dict>
			<key>10109_base_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,321},{18,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,321},{18,171}}</string>
				<key>sourceSize</key>
				<string>{18,171}</string>
			</dict>
			<key>10109_base_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,29},{53,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,29},{53,290}}</string>
				<key>sourceSize</key>
				<string>{53,290}</string>
			</dict>
			<key>10109_base_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{626,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{626,26}}</string>
				<key>sourceSize</key>
				<string>{626,26}</string>
			</dict>
			<key>10109_base_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,382},{166,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,382},{166,51}}</string>
				<key>sourceSize</key>
				<string>{166,51}</string>
			</dict>
			<key>10109_base_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,29},{184,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,29},{184,290}}</string>
				<key>sourceSize</key>
				<string>{184,290}</string>
			</dict>
			<key>10109_base_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,436},{34,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,436},{34,14}}</string>
				<key>sourceSize</key>
				<string>{34,14}</string>
			</dict>
			<key>10109_base_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,321},{135,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,321},{135,113}}</string>
				<key>sourceSize</key>
				<string>{135,113}</string>
			</dict>
			<key>10109_base_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,321},{152,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,321},{152,54}}</string>
				<key>sourceSize</key>
				<string>{152,54}</string>
			</dict>
			<key>10109_base_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,321},{181,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,321},{181,59}}</string>
				<key>sourceSize</key>
				<string>{181,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10109_base.png</string>
			<key>size</key>
			<string>{684,508}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10109_base.png</string>
		</dict>
	</dict>
</plist>
