<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10109_base_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{578,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,949},{578,249}}</string>
				<key>sourceSize</key>
				<string>{578,249}</string>
			</dict>
			<key>10109_base_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,490},{623,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,490},{623,301}}</string>
				<key>sourceSize</key>
				<string>{623,301}</string>
			</dict>
			<key>10109_base_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{718,487}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{718,487}}</string>
				<key>sourceSize</key>
				<string>{718,487}</string>
			</dict>
			<key>10109_base_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,793},{614,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,793},{614,154}}</string>
				<key>sourceSize</key>
				<string>{614,154}</string>
			</dict>
			<key>10109_base_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,840},{344,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{617,840},{344,348}}</string>
				<key>sourceSize</key>
				<string>{344,348}</string>
			</dict>
			<key>10109_base_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,490},{344,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{626,490},{344,348}}</string>
				<key>sourceSize</key>
				<string>{344,348}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10109_base_frame_1.png</string>
			<key>size</key>
			<string>{972,1200}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10109_base_frame_1.png</string>
		</dict>
	</dict>
</plist>
