<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10109_freegames_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,275},{553,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,275},{553,126}}</string>
				<key>sourceSize</key>
				<string>{553,126}</string>
			</dict>
			<key>10109_freegames_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,293},{327,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{556,293},{327,80}}</string>
				<key>sourceSize</key>
				<string>{327,80}</string>
			</dict>
			<key>10109_freegames_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1},{191,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{618,1},{191,290}}</string>
				<key>sourceSize</key>
				<string>{191,290}</string>
			</dict>
			<key>10109_freegames_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1},{183,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{811,1},{183,290}}</string>
				<key>sourceSize</key>
				<string>{183,290}</string>
			</dict>
			<key>10109_freegames_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,293},{76,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{885,293},{76,63}}</string>
				<key>sourceSize</key>
				<string>{76,63}</string>
			</dict>
			<key>10109_freegames_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{615,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{615,272}}</string>
				<key>sourceSize</key>
				<string>{615,272}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10109_free.png</string>
			<key>size</key>
			<string>{996,404}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10109_free.png</string>
		</dict>
	</dict>
</plist>
