<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10109_popup_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1340},{235,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1340},{235,253}}</string>
				<key>sourceSize</key>
				<string>{235,253}</string>
			</dict>
			<key>10109_popup_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1200,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1200,294}}</string>
				<key>sourceSize</key>
				<string>{1200,294}</string>
			</dict>
			<key>10109_popup_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,436},{905,902}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,436},{905,902}}</string>
				<key>sourceSize</key>
				<string>{905,902}</string>
			</dict>
			<key>10109_popup_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,1340},{658,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,1340},{658,165}}</string>
				<key>sourceSize</key>
				<string>{658,165}</string>
			</dict>
			<key>10109_popup_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1},{499,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1203,1},{499,433}}</string>
				<key>sourceSize</key>
				<string>{499,433}</string>
			</dict>
			<key>10109_popup_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,996},{637,633}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{908,996},{637,633}}</string>
				<key>sourceSize</key>
				<string>{637,633}</string>
			</dict>
			<key>10109_popup_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,436},{656,558}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{908,436},{656,558}}</string>
				<key>sourceSize</key>
				<string>{656,558}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10109_popup_1.png</string>
			<key>size</key>
			<string>{1704,1632}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10109_popup_1.png</string>
		</dict>
	</dict>
</plist>
