<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bouns_login_sign_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1309},{836,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,40}}</string>
                <key>sourceSize</key>
                <string>{836,40}</string>
            </dict>
            <key>bg_popup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1247},{60,1100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,1100}}</string>
                <key>sourceSize</key>
                <string>{60,1100}</string>
            </dict>
            <key>bg_popup_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{948,1243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,1243}}</string>
                <key>sourceSize</key>
                <string>{948,1243}</string>
            </dict>
            <key>bg_popup_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,827},{312,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,318}}</string>
                <key>sourceSize</key>
                <string>{312,318}</string>
            </dict>
            <key>bg_popup_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{948,823}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,823}}</string>
                <key>sourceSize</key>
                <string>{948,823}</string>
            </dict>
            <key>bg_popup_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1247},{550,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,83}}</string>
                <key>sourceSize</key>
                <string>{550,83}</string>
            </dict>
            <key>bg_social_bottom_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1247},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>bg_social_bottom_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1247},{94,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,180}}</string>
                <key>sourceSize</key>
                <string>{94,180}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,827},{414,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,124}}</string>
                <key>sourceSize</key>
                <string>{414,124}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,827},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,827},{414,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,124}}</string>
                <key>sourceSize</key>
                <string>{414,124}</string>
            </dict>
            <key>btn_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,827},{414,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,124}}</string>
                <key>sourceSize</key>
                <string>{414,124}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,827},{414,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,124}}</string>
                <key>sourceSize</key>
                <string>{414,124}</string>
            </dict>
            <key>icon_common_wen.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1247},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>popup_close_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1156},{200,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{200,52}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>popup_close_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,939},{296,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,48}}</string>
                <key>sourceSize</key>
                <string>{296,48}</string>
            </dict>
            <key>text_popup_reward_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,800},{354,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,122}}</string>
                <key>sourceSize</key>
                <string>{354,122}</string>
            </dict>
            <key>text_popup_reward_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{796,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,131}}</string>
                <key>sourceSize</key>
                <string>{796,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup_texture.png</string>
            <key>size</key>
            <string>{2035,1351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93b2bca6a223d7c32ffda636a059d36a$</string>
            <key>textureFileName</key>
            <string>popup_texture.png</string>
        </dict>
    </dict>
</plist>
