<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme132_dialog_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{306,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,212}}</string>
                <key>sourceSize</key>
                <string>{306,212}</string>
            </dict>
            <key>theme132_dialog_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{306,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,212}}</string>
                <key>sourceSize</key>
                <string>{306,212}</string>
            </dict>
            <key>theme132_dialog_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{306,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,212}}</string>
                <key>sourceSize</key>
                <string>{306,212}</string>
            </dict>
            <key>theme132_dialog_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{306,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,212}}</string>
                <key>sourceSize</key>
                <string>{306,212}</string>
            </dict>
            <key>theme132_dialog_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,310},{107,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,119}}</string>
                <key>sourceSize</key>
                <string>{107,119}</string>
            </dict>
            <key>theme132_dialog_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,310},{252,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,106}}</string>
                <key>sourceSize</key>
                <string>{252,106}</string>
            </dict>
            <key>theme132_dialog_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,310},{238,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,109}}</string>
                <key>sourceSize</key>
                <string>{238,109}</string>
            </dict>
            <key>theme132_dialog_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,310},{234,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,102}}</string>
                <key>sourceSize</key>
                <string>{234,102}</string>
            </dict>
            <key>theme132_dialog_frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,418},{182,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,101}}</string>
                <key>sourceSize</key>
                <string>{182,101}</string>
            </dict>
            <key>theme132_dialog_frame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,429}}</string>
                <key>sourceSize</key>
                <string>{126,429}</string>
            </dict>
            <key>theme132_dialog_frame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{384,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{384,44}}</string>
                <key>sourceSize</key>
                <string>{386,46}</string>
            </dict>
            <key>theme132_dialog_frame8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{559,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,24}}</string>
                <key>sourceSize</key>
                <string>{559,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog1.png</string>
            <key>size</key>
            <string>{995,521}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257bba74856212b293536d7f58dba755:1/1$</string>
            <key>textureFileName</key>
            <string>dialog1.png</string>
        </dict>
    </dict>
</plist>
