<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme132_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,200},{176,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,200},{176,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,398},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{117,65}</string>
            </dict>
            <key>theme132_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{176,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,398},{147,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{149,65}</string>
            </dict>
            <key>theme132_s_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,398},{150,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>theme132_s_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>theme132_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,200},{176,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{176,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,198}}</string>
                <key>sourceSize</key>
                <string>{176,198}</string>
            </dict>
            <key>theme132_s_nil.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,400},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{714,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:955c91e96e665455e2a228e9e89948b7:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
