<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anniu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1352},{224,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{549,1352},{224,226}}</string>
				<key>sourceSize</key>
				<string>{224,226}</string>
			</dict>
			<key>anniu_01C.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1124},{224,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{549,1124},{224,226}}</string>
				<key>sourceSize</key>
				<string>{224,226}</string>
			</dict>
			<key>biaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,214},{546,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,214},{546,217}}</string>
				<key>sourceSize</key>
				<string>{546,217}</string>
			</dict>
			<key>anniu_04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,813},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,813},{90,92}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>anniu_00C.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1368},{224,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{775,1368},{224,226}}</string>
				<key>sourceSize</key>
				<string>{224,226}</string>
			</dict>
			<key>anniu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1108},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1200,1108},{90,92}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>Num_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,433},{490,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,433},{490,187}}</string>
				<key>sourceSize</key>
				<string>{490,187}</string>
			</dict>
			<key>wenzi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1720,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1720,51}}</string>
				<key>sourceSize</key>
				<string>{1720,51}</string>
			</dict>
			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,924},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,924},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1168},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{350,1168},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>anniu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1615},{224,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,1615},{224,226}}</string>
				<key>sourceSize</key>
				<string>{224,226}</string>
			</dict>
			<key>wenzi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,2},{1031,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{456,2},{1031,46}}</string>
				<key>sourceSize</key>
				<string>{1031,46}</string>
			</dict>
			<key>xiaobiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1983},{137,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,1983},{137,48}}</string>
				<key>sourceSize</key>
				<string>{137,48}</string>
			</dict>
			<key>x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1596},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{626,1596},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1843},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{599,1843},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>anniu_04C.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,719},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,719},{90,92}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>fanbeikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,433},{290,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{909,433},{290,242}}</string>
				<key>sourceSize</key>
				<string>{290,242}</string>
			</dict>
			<key>anniu_03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1035},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{456,1035},{90,92}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>FREEGAME.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1799},{170,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{626,1799},{170,28}}</string>
				<key>sourceSize</key>
				<string>{170,28}</string>
			</dict>
			<key>wenzi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1797},{136,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{979,1797},{136,24}}</string>
				<key>sourceSize</key>
				<string>{136,24}</string>
			</dict>
			<key>shandian_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,518},{102,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,518},{102,92}}</string>
				<key>sourceSize</key>
				<string>{102,92}</string>
			</dict>
			<key>ex_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,612},{105,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1153,612},{105,87}}</string>
				<key>sourceSize</key>
				<string>{105,87}</string>
			</dict>
			<key>Win_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,214},{231,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1052,214},{231,208}}</string>
				<key>sourceSize</key>
				<string>{231,208}</string>
			</dict>
			<key>anniu_01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1123},{224,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{974,1123},{224,226}}</string>
				<key>sourceSize</key>
				<string>{224,226}</string>
			</dict>
			<key>shuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,424},{119,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,424},{119,92}}</string>
				<key>sourceSize</key>
				<string>{119,92}</string>
			</dict>
			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1724},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,1724},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>wenzi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,2},{1164,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{350,2},{1164,51}}</string>
				<key>sourceSize</key>
				<string>{1164,51}</string>
			</dict>
			<key>anniu_00B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1351},{224,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1001,1351},{224,226}}</string>
				<key>sourceSize</key>
				<string>{224,226}</string>
			</dict>
			<key>anniu_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1799},{179,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,1799},{179,182}}</string>
				<key>sourceSize</key>
				<string>{179,182}</string>
			</dict>
			<key>x15.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1596},{197,199}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{825,1596},{197,199}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>anniu_05B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1780},{179,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1024,1780},{179,182}}</string>
				<key>sourceSize</key>
				<string>{179,182}</string>
			</dict>
			<key>ex_guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1968},{156,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1968},{156,66}}</string>
				<key>sourceSize</key>
				<string>{158,66}</string>
			</dict>
			<key>shandian_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,162},{30,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1225,162},{30,48}}</string>
				<key>sourceSize</key>
				<string>{30,48}</string>
			</dict>
			<key>jinbi_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,433},{586,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{504,433},{586,106}}</string>
				<key>sourceSize</key>
				<string>{586,106}</string>
			</dict>
			<key>x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1843},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,1843},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>wenzi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,2},{1095,51}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{403,2},{1095,51}}</string>
				<key>sourceSize</key>
				<string>{1095,57}</string>
			</dict>
			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,725},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{909,725},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>anniu_05C.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,924},{179,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1100,924},{179,182}}</string>
				<key>sourceSize</key>
				<string>{179,182}</string>
			</dict>
			<key>shuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,1579},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1223,1579},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>wenzikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,2},{719,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,2},{719,210}}</string>
				<key>sourceSize</key>
				<string>{719,210}</string>
			</dict>
			<key>anniu_03C.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1202},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1200,1202},{90,92}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>caozuo_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,2},{1434,293}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{55,2},{1434,293}}</string>
				<key>sourceSize</key>
				<string>{1434,297}</string>
			</dict>
			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1438},{281,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,1438},{281,267}}</string>
				<key>sourceSize</key>
				<string>{281,267}</string>
			</dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1124},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{775,1124},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1707},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{201,1707},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,925},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{612,925},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>ex_kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,2},{158,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1225,2},{158,66}}</string>
				<key>sourceSize</key>
				<string>{158,66}</string>
			</dict>
			<key>shandian_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,518},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1257,518},{34,48}}</string>
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1412},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,1412},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1579},{197,199}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,1579},{197,199}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,433},{427,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{801,433},{427,106}}</string>
				<key>sourceSize</key>
				<string>{427,106}</string>
			</dict>
			<key>anniu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1951},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{201,1951},{90,92}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>anniu_01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,862},{100,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{801,862},{100,40}}</string>
				<key>sourceSize</key>
				<string>{100,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GaroGem.png</string>
			<key>size</key>
			<string>{1293,2046}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>GaroGem.png</string>
		</dict>
	</dict>
</plist>
