<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100A.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,602},{88,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>20A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,873},{62,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{62,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>500A.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,888},{94,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{94,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>50A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,722},{62,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{62,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>ALLIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,354},{67,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,15}}</string>
                <key>sourceSize</key>
                <string>{67,15}</string>
            </dict>
            <key>COLLECT.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,868},{116,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,18}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>GRAND.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,104},{454,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{454,122}}</string>
                <key>sourceSize</key>
                <string>{460,130}</string>
            </dict>
            <key>MAJOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,354},{454,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{454,122}}</string>
                <key>sourceSize</key>
                <string>{460,130}</string>
            </dict>
            <key>MINI.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,228},{414,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{414,122}}</string>
                <key>sourceSize</key>
                <string>{460,130}</string>
            </dict>
            <key>MINOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,478},{414,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{414,122}}</string>
                <key>sourceSize</key>
                <string>{460,130}</string>
            </dict>
            <key>SPIN!.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,276},{72,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{72,18}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>activity_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,744},{157,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,127}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>auto_times_bg_scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,354},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>bettips_crover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,104},{230,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,39}}</string>
                <key>sourceSize</key>
                <string>{230,39}</string>
            </dict>
            <key>bettips_less.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,426},{50,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>bettips_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,854},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>bettips_pro0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{276,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bettips_pro1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,104},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{248,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bettips_pro3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,104},{494,248}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{494,248}}</string>
                <key>sourceSize</key>
                <string>{554,278}</string>
            </dict>
            <key>bettips_pro4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,702},{184,220}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,22},{184,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bettips_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,354},{150,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,112}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,888},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_add_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,888},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_add_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,888},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_auto1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,702},{144,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,168}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>btn_auto2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,692},{144,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,168}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>btn_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,646},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>btn_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,722},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>btn_max_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,506},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>btn_max_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,510},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>btn_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,854},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_minus_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,650},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_minus_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,358},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,696},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>btn_spin_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,530},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>btn_spin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,524},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,358},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>btn_stop_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,352},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>btn_stop_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,692},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>btn_stop_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,104},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{356,170}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>free_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,602},{366,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{366,88}}</string>
                <key>sourceSize</key>
                <string>{370,90}</string>
            </dict>
            <key>img_allin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,864},{366,80}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{366,80}}</string>
                <key>sourceSize</key>
                <string>{370,90}</string>
            </dict>
            <key>img_bar_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,530},{100,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,212}}</string>
                <key>sourceSize</key>
                <string>{100,212}</string>
            </dict>
            <key>img_bar_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2000,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2000,100}}</string>
                <key>sourceSize</key>
                <string>{2000,100}</string>
            </dict>
            <key>img_spit_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,956},{130,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,6}}</string>
                <key>sourceSize</key>
                <string>{130,6}</string>
            </dict>
            <key>img_totalbet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,276},{365,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,80}}</string>
                <key>sourceSize</key>
                <string>{365,80}</string>
            </dict>
            <key>img_txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,868},{226,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,30}}</string>
                <key>sourceSize</key>
                <string>{230,30}</string>
            </dict>
            <key>maxA.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,354},{70,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{70,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,888},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{63,67}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{390,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,582}}</string>
                <key>sourceSize</key>
                <string>{390,582}</string>
            </dict>
            <key>menu_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,900},{61,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{61,61}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>menu_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,423},{49,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{49,79}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>menu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,946},{369,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,8}}</string>
                <key>sourceSize</key>
                <string>{369,8}</string>
            </dict>
            <key>menu_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,873},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{63,69}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,786},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,520},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>menu_rateus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,873},{67,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>spr_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,888},{62,68}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>title_ALLIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,336},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>title_MAXBET.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,862},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{112,24}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>title_TOTALBET.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,862},{138,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{138,24}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LMSlots_Common_Portrait.png</string>
            <key>size</key>
            <string>{2004,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87872d85d4d4cddc30b8ee49e8bd8d0d$</string>
            <key>textureFileName</key>
            <string>LMSlots_Common_Portrait.png</string>
        </dict>
    </dict>
</plist>
