<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hall_game_comingsoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,306}}</string>
                <key>sourceSize</key>
                <string>{366,306}</string>
            </dict>
            <key>bg_hall_ge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,310},{766,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,28}}</string>
                <key>sourceSize</key>
                <string>{766,28}</string>
            </dict>
            <key>bg_hall_ge_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{780,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,40}}</string>
                <key>sourceSize</key>
                <string>{780,40}</string>
            </dict>
            <key>bg_hall_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1724},{196,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,198}}</string>
                <key>sourceSize</key>
                <string>{196,198}</string>
            </dict>
            <key>bg_hall_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1958},{145,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,39}}</string>
                <key>sourceSize</key>
                <string>{145,39}</string>
            </dict>
            <key>bg_hall_like_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1264},{106,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,256}}</string>
                <key>sourceSize</key>
                <string>{106,256}</string>
            </dict>
            <key>bg_hall_user_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{317,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,62}}</string>
                <key>sourceSize</key>
                <string>{317,62}</string>
            </dict>
            <key>btn_hall_coin_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1488},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>icon_hall_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1572},{106,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,306}}</string>
                <key>sourceSize</key>
                <string>{106,306}</string>
            </dict>
            <key>icon_hall_broadcast.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1900},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_hall_game_no_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1372},{248,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,174}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>icon_hall_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{320,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,188}}</string>
                <key>sourceSize</key>
                <string>{320,190}</string>
            </dict>
            <key>icon_hall_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{342,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{342,198}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>icon_hall_select_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{340,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{340,198}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>icon_hall_select_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{320,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,188}}</string>
                <key>sourceSize</key>
                <string>{320,190}</string>
            </dict>
            <key>icon_hall_slot_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1808},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>ligke_game_heart_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1724},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>like_game_heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1078},{48,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>like_game_heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1120},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>progress_hall_league_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1724},{304,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,44}}</string>
                <key>sourceSize</key>
                <string>{304,44}</string>
            </dict>
            <key>progress_hall_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{312,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,64}}</string>
                <key>sourceSize</key>
                <string>{312,64}</string>
            </dict>
            <key>progress_hall_vip_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1182},{304,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,54}}</string>
                <key>sourceSize</key>
                <string>{304,54}</string>
            </dict>
            <key>text_hall_game_comong_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{308,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,42}}</string>
                <key>sourceSize</key>
                <string>{308,42}</string>
            </dict>
            <key>text_hall_game_no_more_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1922},{196,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,34}}</string>
                <key>sourceSize</key>
                <string>{196,34}</string>
            </dict>
            <key>text_hall_love_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1680},{306,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,42}}</string>
                <key>sourceSize</key>
                <string>{306,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_hall.png</string>
            <key>size</key>
            <string>{376,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a9be05abbfe5ef73485c1d317e8a219:1/1$</string>
            <key>textureFileName</key>
            <string>texture_hall.png</string>
        </dict>
    </dict>
</plist>
