<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text_super_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,540},{421,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,540},{421,51}}</string>
				<key>sourceSize</key>
				<string>{421,51}</string>
			</dict>
			<key>wheel_item_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,370},{229,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{845,370},{229,166}}</string>
				<key>sourceSize</key>
				<string>{229,166}</string>
			</dict>
			<key>text_hint_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,540},{500,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{76,540},{500,48}}</string>
				<key>sourceSize</key>
				<string>{540,56}</string>
			</dict>
			<key>wheel_item_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1032},{231,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{509,1032},{231,166}}</string>
				<key>sourceSize</key>
				<string>{231,166}</string>
			</dict>
			<key>wheel_green_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,821},{213,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,821},{213,212}}</string>
				<key>sourceSize</key>
				<string>{213,212}</string>
			</dict>
			<key>wheel_item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,471},{96,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{729,471},{96,167}}</string>
				<key>sourceSize</key>
				<string>{96,167}</string>
			</dict>
			<key>wheel_green_daole.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1023},{118,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{845,1023},{118,126}}</string>
				<key>sourceSize</key>
				<string>{118,126}</string>
			</dict>
			<key>icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,328},{112,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,328},{112,141}}</string>
				<key>sourceSize</key>
				<string>{112,141}</string>
			</dict>
			<key>turn_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,2},{34,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,2},{34,261}}</string>
				<key>sourceSize</key>
				<string>{34,261}</string>
			</dict>
			<key>icon_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,640},{96,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{729,640},{96,94}}</string>
				<key>sourceSize</key>
				<string>{96,94}</string>
			</dict>
			<key>wheel_bottom_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,2},{324,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{698,2},{324,158}}</string>
				<key>sourceSize</key>
				<string>{324,158}</string>
			</dict>
			<key>wheel_red_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,593},{215,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,593},{215,226}}</string>
				<key>sourceSize</key>
				<string>{215,226}</string>
			</dict>
			<key>text_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,482},{232,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{666,482},{232,61}}</string>
				<key>sourceSize</key>
				<string>{232,61}</string>
			</dict>
			<key>wheel_bottom_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,162},{694,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,162},{694,158}}</string>
				<key>sourceSize</key>
				<string>{694,158}</string>
			</dict>
			<key>wheel_item_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,601},{186,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{827,601},{186,167}}</string>
				<key>sourceSize</key>
				<string>{186,167}</string>
			</dict>
			<key>wheel_bottom_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{694,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{694,158}}</string>
				<key>sourceSize</key>
				<string>{694,158}</string>
			</dict>
			<key>wheel_item_scatter_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,828},{231,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,828},{231,202}}</string>
				<key>sourceSize</key>
				<string>{231,202}</string>
			</dict>
			<key>text_hint_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,2},{366,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{916,2},{366,48}}</string>
				<key>sourceSize</key>
				<string>{540,56}</string>
			</dict>
			<key>wheel_item_x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1032},{231,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{341,1032},{231,166}}</string>
				<key>sourceSize</key>
				<string>{231,166}</string>
			</dict>
			<key>wheel_item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,789},{92,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{765,789},{92,167}}</string>
				<key>sourceSize</key>
				<string>{92,167}</string>
			</dict>
			<key>icon_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,482},{716,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,482},{716,72}}</string>
				<key>sourceSize</key>
				<string>{716,72}</string>
			</dict>
			<key>wheel_item_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1035},{194,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,1035},{194,167}}</string>
				<key>sourceSize</key>
				<string>{194,167}</string>
			</dict>
			<key>wheel_green_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,906},{134,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,906},{134,115}}</string>
				<key>sourceSize</key>
				<string>{134,115}</string>
			</dict>
			<key>text_hint_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,2},{362,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{858,2},{362,56}}</string>
				<key>sourceSize</key>
				<string>{540,56}</string>
			</dict>
			<key>wheel_item_scatter_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,593},{233,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{343,593},{233,204}}</string>
				<key>sourceSize</key>
				<string>{233,204}</string>
			</dict>
			<key>text_hint_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,482},{498,56}}</string>
				<key>offset</key>
				<string>{21,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,482},{498,56}}</string>
				<key>sourceSize</key>
				<string>{540,56}</string>
			</dict>
			<key>wheel_bottom_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,786},{233,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{574,786},{233,189}}</string>
				<key>sourceSize</key>
				<string>{233,189}</string>
			</dict>
			<key>wheel_item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1151},{66,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{845,1151},{66,165}}</string>
				<key>sourceSize</key>
				<string>{66,165}</string>
			</dict>
			<key>wheel_red_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,789},{134,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,789},{134,115}}</string>
				<key>sourceSize</key>
				<string>{134,115}</string>
			</dict>
			<key>wheel_bottom_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,322},{694,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,322},{694,158}}</string>
				<key>sourceSize</key>
				<string>{694,158}</string>
			</dict>
			<key>wheel_bottom_6_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,540},{244,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,540},{244,115}}</string>
				<key>sourceSize</key>
				<string>{244,115}</string>
			</dict>
			<key>wheel_item_x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1021},{231,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{677,1021},{231,166}}</string>
				<key>sourceSize</key>
				<string>{231,166}</string>
			</dict>
			<key>text_respin.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1042},{214,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{76,1042},{214,53}}</string>
				<key>sourceSize</key>
				<string>{214,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>textures_money_coming.png</string>
			<key>size</key>
			<string>{1013,1265}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>textures_money_coming.png</string>
		</dict>
	</dict>
</plist>
