<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg_Verifynow.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{336,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,88}}</string>
                <key>sourceSize</key>
                <string>{336,88}</string>
            </dict>
            <key>bg_exp_buffer.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,728},{150,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,74}}</string>
                <key>sourceSize</key>
                <string>{150,74}</string>
            </dict>
            <key>bg_userinfo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1106},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>bg_userinfo_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,832},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>bg_userinfo_game_record_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,732},{70,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
            <key>bg_userinfo_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,884},{114,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,87}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>bg_userinfo_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,879},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>bg_userinfo_rule_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1000},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>bg_userinfo_view_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,984},{148,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,178}}</string>
                <key>sourceSize</key>
                <string>{148,178}</string>
            </dict>
            <key>bg_userinfo_view_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{980,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,210}}</string>
                <key>sourceSize</key>
                <string>{980,210}</string>
            </dict>
            <key>bg_userinfo_view_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,608},{222,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,73}}</string>
                <key>sourceSize</key>
                <string>{222,73}</string>
            </dict>
            <key>bg_userinfo_view_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,388},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>bg_userinfo_view_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1179},{27,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,96}}</string>
                <key>sourceSize</key>
                <string>{27,96}</string>
            </dict>
            <key>bg_userinfo_view_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1164},{130,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>bg_userinfo_view_sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1256},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,78}}</string>
                <key>sourceSize</key>
                <string>{124,78}</string>
            </dict>
            <key>btn_Invitationcode_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1152},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>btn_logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{396,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,115}}</string>
                <key>sourceSize</key>
                <string>{396,115}</string>
            </dict>
            <key>btn_userinfo_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,560},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>btn_userinfo_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1256},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>btn_userinfo_report.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,556},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>btn_userinfo_unblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,388},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>btn_userinfo_wen.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,340},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>fg_gift_tabbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,984},{274,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,105}}</string>
                <key>sourceSize</key>
                <string>{274,105}</string>
            </dict>
            <key>icon_rank_charm.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1256},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>icon_userinfo_friend_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1208},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>icon_userinfo_friend_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1312},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>icon_userinfo_friend_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,556},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>icon_userinfo_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1197},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_userinfo_giftpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1106},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>icon_userinfo_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1354},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>icon_userinfo_none_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,880},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>icon_userinfo_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1354},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>icon_userinfo_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1208},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_userinfo_pho.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1312},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>icon_userinfo_pic_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,608},{8,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,269}}</string>
                <key>sourceSize</key>
                <string>{8,269}</string>
            </dict>
            <key>icon_userinfo_pic_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1318},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_userinfo_pic_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>progress_userinfo_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,340},{266,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,47}}</string>
                <key>sourceSize</key>
                <string>{266,47}</string>
            </dict>
            <key>progress_userinfo_fg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,608},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>spr_balance.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1260},{171,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,114}}</string>
                <key>sourceSize</key>
                <string>{171,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_userinfo.png</string>
            <key>size</key>
            <string>{507,1398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7e8f724562186294f627f109d3fbef5$</string>
            <key>textureFileName</key>
            <string>texture_userinfo.png</string>
        </dict>
    </dict>
</plist>
