<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Multiplayer0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,88},{320,84}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{320,84}}</string>
                <key>sourceSize</key>
                <string>{350,110}</string>
            </dict>
            <key>Multiplayer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{340,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{340,102}}</string>
                <key>sourceSize</key>
                <string>{350,110}</string>
            </dict>
            <key>Records.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,170},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,106},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,106},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{166,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{166,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,446}}</string>
                <key>sourceSize</key>
                <string>{166,446}</string>
            </dict>
            <key>bgann.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,170},{332,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,42}}</string>
                <key>sourceSize</key>
                <string>{332,42}</string>
            </dict>
            <key>page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,192},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,170},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{194,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{320,84}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{320,84}}</string>
                <key>sourceSize</key>
                <string>{350,110}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{342,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{342,104}}</string>
                <key>sourceSize</key>
                <string>{350,110}</string>
            </dict>
            <key>slots0.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,127},{320,84}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{320,84}}</string>
                <key>sourceSize</key>
                <string>{350,110}</string>
            </dict>
            <key>slots1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,108},{340,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{340,102}}</string>
                <key>sourceSize</key>
                <string>{350,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>historical_record.png</string>
            <key>size</key>
            <string>{1980,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baab8d0fa0aa8cc6b9cfffcb13e915b6$</string>
            <key>textureFileName</key>
            <string>historical_record.png</string>
        </dict>
    </dict>
</plist>
