<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat_zoushi_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,427},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Baccarat_zoushi_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,392},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Baccarat_zoushi_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,465},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Baccarat_zoushi_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,180},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_zoushi_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,180},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Crash_Guess2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{176,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,89}}</string>
                <key>sourceSize</key>
                <string>{176,89}</string>
            </dict>
            <key>Crash_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,377},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Crash_hj_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,125}}</string>
                <key>sourceSize</key>
                <string>{300,125}</string>
            </dict>
            <key>Crash_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,339},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>FortuneWheel_symbol_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>FortuneWheel_symbol_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,290},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>FortuneWheel_symbol_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,180},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>FortuneWheel_symbol_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,178},{120,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,86}}</string>
                <key>sourceSize</key>
                <string>{120,86}</string>
            </dict>
            <key>FortuneWheel_symbol_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>FortuneWheel_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,234},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>FortuneWheel_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,415},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>FortuneWheel_x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,198},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>FortuneWheel_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,238},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>FortuneWheel_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,442},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>FortuneWheel_x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,166},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>FortuneWheel_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,289},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>HorseRacing_paoma_result1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,236},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>HorseRacing_paoma_result2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,64},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>HorseRacing_paoma_result3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>HorseRacing_paoma_result4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,103},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>HorseRacing_paoma_result5.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,440},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>HorseRacing_paoma_result6.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,440},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>JhandiMunda_record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,392},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>JhandiMunda_record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,434},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>JhandiMunda_record3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,279},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>JhandiMunda_record4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,121},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>JhandiMunda_record5.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,379},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>JhandiMunda_record6.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,329},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Keno_ball_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,170},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>Keno_ball_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,173},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Keno_ball_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,283},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>Lhdz_zoushi_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,440},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Lhdz_zoushi_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,422},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Lhdz_zoushi_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,372},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Roulette_end_heibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,304},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>Roulette_end_hongbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>Roulette_end_lingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>SevenUpDown_r_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,118},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>SevenUpDown_r_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,118},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>SevenUpDown_r_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,121},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>SevenUpDown_r_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,121},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>WingoLottery_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,164},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>WingoLottery_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,126},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>WingoLottery_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,92},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>coin_small_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,360},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_small_yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,298},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,469},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,477},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,477},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,435},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,148},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,148},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,148},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,148},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,148},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>laba_bet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>laba_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,302},{126,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{126,136}</string>
            </dict>
            <key>laba_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,402},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>laba_bet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,208},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>laba_bet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,208},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,98}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>laba_bet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,208},{94,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,85}}</string>
                <key>sourceSize</key>
                <string>{94,85}</string>
            </dict>
            <key>laba_bet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,431},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>laba_bet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>laba_bet_shendeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{108,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,78}}</string>
                <key>sourceSize</key>
                <string>{108,78}</string>
            </dict>
            <key>rec_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,321},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>rec_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,270},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>rec_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,112},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>triple_symbol_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,173},{115,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{115,105}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>triple_symbol_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,300},{115,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{115,129}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>triple_symbol_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{113,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{113,117}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>historical_record_items.png</string>
            <key>size</key>
            <string>{1112,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4d1a6be638eb6794c45cc384e745af4:1/1$</string>
            <key>textureFileName</key>
            <string>historical_record_items.png</string>
        </dict>
    </dict>
</plist>
