<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dl_jinbikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,158},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{928,158},{104,64}}</string>
				<key>sourceSize</key>
				<string>{110,70}</string>
			</dict>
			<key>slogan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{518,36}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,74},{518,36}}</string>
				<key>sourceSize</key>
				<string>{520,40}</string>
			</dict>
			<key>rate_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,102},{78,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1113,102},{78,76}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>chip_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,154},{54,56}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1648,154},{54,56}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>shangcheng_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,140},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1816,140},{82,82}}</string>
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>shuying_db02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,2},{186,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1278,2},{186,96}}</string>
				<key>sourceSize</key>
				<string>{186,96}</string>
			</dict>
			<key>menu_deskinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,186},{31,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1034,186},{31,60}}</string>
				<key>sourceSize</key>
				<string>{31,60}</string>
			</dict>
			<key>anniu_chouma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,102},{77,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1034,102},{77,82}}</string>
				<key>sourceSize</key>
				<string>{77,82}</string>
			</dict>
			<key>logo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,112},{498,42}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,112},{498,42}}</string>
				<key>sourceSize</key>
				<string>{500,50}</string>
			</dict>
			<key>paiming_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,154},{51,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1759,154},{51,30}}</string>
				<key>sourceSize</key>
				<string>{51,30}</string>
			</dict>
			<key>new.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,112},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,112},{40,41}}</string>
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>btn_changetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,154},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1706,154},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>bottom_bg_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{540,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{540,70}}</string>
				<key>sourceSize</key>
				<string>{540,70}</string>
			</dict>
			<key>bottom_bg_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{471,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,156},{471,60}}</string>
				<key>sourceSize</key>
				<string>{473,60}</string>
			</dict>
			<key>coin_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,140},{70,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1900,140},{70,52}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>Table_wait_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,2},{500,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{544,2},{500,52}}</string>
				<key>sourceSize</key>
				<string>{500,52}</string>
			</dict>
			<key>rebet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,2},{136,136}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1816,2},{136,136}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>shuying_db01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,2},{186,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1466,2},{186,96}}</string>
				<key>sourceSize</key>
				<string>{186,96}</string>
			</dict>
			<key>daojishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,100},{104,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1414,100},{104,138}}</string>
				<key>sourceSize</key>
				<string>{104,138}</string>
			</dict>
			<key>chouma_xuanze.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,2},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1654,2},{150,160}}</string>
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,2},{230,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1046,2},{230,98}}</string>
				<key>sourceSize</key>
				<string>{230,100}</string>
			</dict>
			<key>menu_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,100},{102,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1554,100},{102,92}}</string>
				<key>sourceSize</key>
				<string>{102,92}</string>
			</dict>
			<key>rebet.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,56},{136,136}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{688,56},{136,136}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>anniu_wanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,100},{122,134}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1278,100},{122,134}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>chouma_db01.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,56},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{928,56},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>logo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,56},{100,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{826,56},{100,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>chouma_db02.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,56},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{544,56},{142,142}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Table_Common.png</string>
			<key>size</key>
			<string>{1954,224}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Table_Common.png</string>
		</dict>
	</dict>
</plist>
