<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>COMING--SOON.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,872},{420,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,74}}</string>
                <key>sourceSize</key>
                <string>{420,74}</string>
            </dict>
            <key>PLAY-SLOTS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,40}}</string>
                <key>sourceSize</key>
                <string>{860,40}</string>
            </dict>
            <key>download.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1906},{86,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>download_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,314},{400,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,24}}</string>
                <key>sourceSize</key>
                <string>{400,24}</string>
            </dict>
            <key>download_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,314},{390,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,14}}</string>
                <key>sourceSize</key>
                <string>{390,14}</string>
            </dict>
            <key>fav_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1254},{120,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,390}}</string>
                <key>sourceSize</key>
                <string>{122,392}</string>
            </dict>
            <key>fav_heart_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1646},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>fav_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1712},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>fav_mid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,410},{460,156}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{460,156}}</string>
                <key>sourceSize</key>
                <string>{476,196}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,832},{420,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{420,94}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1294},{420,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{420,94}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>lock_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{310,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,70}}</string>
                <key>sourceSize</key>
                <string>{310,70}</string>
            </dict>
            <key>mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,410},{420,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{420,94}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>play-splitline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{859,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,30}}</string>
                <key>sourceSize</key>
                <string>{859,30}</string>
            </dict>
            <key>shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1294},{420,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{420,94}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>slot_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{406,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,236}}</string>
                <key>sourceSize</key>
                <string>{406,236}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1818},{86,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{248,242}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{248,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,872},{420,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{420,94}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slot.png</string>
            <key>size</key>
            <string>{354,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1482c8512e5bb44c2462750c6363317$</string>
            <key>textureFileName</key>
            <string>Slot.png</string>
        </dict>
    </dict>
</plist>
