<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BD.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,64},{102,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>BT_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,64},{170,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,83}}</string>
                <key>sourceSize</key>
                <string>{170,83}</string>
            </dict>
            <key>DITU.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,1100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,1100}}</string>
                <key>sourceSize</key>
                <string>{60,1100}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{312,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,318}}</string>
                <key>sourceSize</key>
                <string>{312,318}</string>
            </dict>
            <key>guduan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{880,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{880,6}}</string>
                <key>sourceSize</key>
                <string>{900,6}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,170},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>observe_list.png</string>
            <key>size</key>
            <string>{1104,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b4f104a1327cd5dd033e5951b426f03:1/1$</string>
            <key>textureFileName</key>
            <string>observe_list.png</string>
        </dict>
    </dict>
</plist>
