<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1912},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,66}}</string>
                <key>sourceSize</key>
                <string>{81,66}</string>
            </dict>
            <key>anniu_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1932},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,968},{950,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{950,308}}</string>
                <key>sourceSize</key>
                <string>{952,310}</string>
            </dict>
            <key>bg_bonus_login_sign_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1562},{160,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>bg_bonus_login_sign_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1973},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_bonus_login_sign_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1884},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bg_bonus_login_sign_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1405},{183,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,155}}</string>
                <key>sourceSize</key>
                <string>{185,155}</string>
            </dict>
            <key>bg_bonus_login_sign_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1724},{158,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{158,132}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1920},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>btn_yeqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,971},{236,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,75}}</string>
                <key>sourceSize</key>
                <string>{236,75}</string>
            </dict>
            <key>btn_yeqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,733},{236,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,75}}</string>
                <key>sourceSize</key>
                <string>{236,75}</string>
            </dict>
            <key>db.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{950,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,147}}</string>
                <key>sourceSize</key>
                <string>{950,147}</string>
            </dict>
            <key>db1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1922},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>db2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,964}}</string>
                <key>sourceSize</key>
                <string>{950,964}</string>
            </dict>
            <key>db_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,150},{20,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,140}}</string>
                <key>sourceSize</key>
                <string>{20,140}</string>
            </dict>
            <key>db_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,954},{196,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,449}}</string>
                <key>sourceSize</key>
                <string>{196,449}</string>
            </dict>
            <key>gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{958,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,306}}</string>
                <key>sourceSize</key>
                <string>{958,306}</string>
            </dict>
            <key>jiangli_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1922},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>jindutiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1930},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>jindutiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2008},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>qiehuan_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1911},{102,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,23},{102,44}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,584},{94,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,27},{94,36}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1405},{90,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,28},{90,36}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2008},{82,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{82,28}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1209},{170,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{170,64}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1864},{162,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{162,56}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,292},{120,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,27},{120,36}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>qiehuan_icon04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,470},{112,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{112,28}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>renwu_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,968},{952,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{952,136}}</string>
                <key>sourceSize</key>
                <string>{952,136}</string>
            </dict>
            <key>tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1920},{202,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,104}}</string>
                <key>sourceSize</key>
                <string>{202,104}</string>
            </dict>
            <key>tab_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1562},{230,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>text01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,733},{168,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,26}}</string>
                <key>sourceSize</key>
                <string>{168,26}</string>
            </dict>
            <key>text02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,2},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{168,26}</string>
            </dict>
            <key>text_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{729,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,82}}</string>
                <key>sourceSize</key>
                <string>{729,82}</string>
            </dict>
            <key>text_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,968},{592,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,194}}</string>
                <key>sourceSize</key>
                <string>{592,194}</string>
            </dict>
            <key>tishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1922},{171,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,94}}</string>
                <key>sourceSize</key>
                <string>{171,94}</string>
            </dict>
            <key>xiaotubiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1497},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>xiaotubiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,680},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>xiaotubiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1932},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>xiaotubiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1973},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>xiaotubiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,903},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>xinxi_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1846},{97,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>yeqian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1562},{282,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,103}}</string>
                <key>sourceSize</key>
                <string>{282,103}</string>
            </dict>
            <key>yeqian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1759},{210,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,103}}</string>
                <key>sourceSize</key>
                <string>{210,103}</string>
            </dict>
            <key>yeqian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{282,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,103}}</string>
                <key>sourceSize</key>
                <string>{282,103}</string>
            </dict>
            <key>yeqian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1654},{210,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,103}}</string>
                <key>sourceSize</key>
                <string>{210,103}</string>
            </dict>
            <key>yeqian_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1433},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1884},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1884},{58,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,414},{54,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,40}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1381},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1864},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1485},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>yeqian_icon04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1994},{42,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{1229,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e447093755a38104c4500db3233a3137:1/1$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
