<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shouyidb_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,958},{415,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,958},{415,110}}</string>
				<key>sourceSize</key>
				<string>{415,110}</string>
			</dict>
			<key>jinli_icon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,192},{181,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{321,192},{181,155}}</string>
				<key>sourceSize</key>
				<string>{181,155}</string>
			</dict>
			<key>fanli_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,555},{152,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,555},{152,164}}</string>
				<key>sourceSize</key>
				<string>{152,164}</string>
			</dict>
			<key>db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,876},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,876},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{954,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,2},{954,205}}</string>
				<key>sourceSize</key>
				<string>{954,205}</string>
			</dict>
			<key>email_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,2},{188,168}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{321,2},{188,168}}</string>
				<key>sourceSize</key>
				<string>{190,170}</string>
			</dict>
			<key>jinli_icon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,832},{172,123}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{209,832},{172,123}}</string>
				<key>sourceSize</key>
				<string>{178,141}</string>
			</dict>
			<key>shouyidb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1182},{415,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1182},{415,110}}</string>
				<key>sourceSize</key>
				<string>{415,110}</string>
			</dict>
			<key>month_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1040},{74,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,1040},{74,80}}</string>
				<key>sourceSize</key>
				<string>{74,80}</string>
			</dict>
			<key>jinli_icon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,375},{178,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{321,375},{178,141}}</string>
				<key>sourceSize</key>
				<string>{178,141}</string>
			</dict>
			<key>shouyidb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,2},{413,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{209,2},{413,110}}</string>
				<key>sourceSize</key>
				<string>{415,110}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,721},{101,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,721},{101,71}}</string>
				<key>sourceSize</key>
				<string>{101,71}</string>
			</dict>
			<key>db3.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,794},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,794},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>week_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,958},{74,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,958},{74,80}}</string>
				<key>sourceSize</key>
				<string>{74,80}</string>
			</dict>
			<key>shouyidb_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1070},{415,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1070},{415,110}}</string>
				<key>sourceSize</key>
				<string>{415,110}</string>
			</dict>
			<key>shouyidb_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,417},{413,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{209,417},{413,110}}</string>
				<key>sourceSize</key>
				<string>{415,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dfef3850-81c2-430b-9b3e-c5784f651384.png</string>
			<key>size</key>
			<string>{495,1294}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>dfef3850-81c2-430b-9b3e-c5784f651384.png</string>
		</dict>
	</dict>
</plist>
