<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,355},{85,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1143,355},{85,68}}</string>
				<key>sourceSize</key>
				<string>{85,68}</string>
			</dict>
			<key>bg_hall_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,113},{540,231}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,113},{540,231}}</string>
				<key>sourceSize</key>
				<string>{540,241}</string>
			</dict>
			<key>Multiplayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,344},{82,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1003,344},{82,68}}</string>
				<key>sourceSize</key>
				<string>{82,68}</string>
			</dict>
			<key>dot1.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,346},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{488,346},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>Skill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,346},{85,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1073,346},{85,68}}</string>
				<key>sourceSize</key>
				<string>{85,68}</string>
			</dict>
			<key>Favorite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,202},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1167,202},{64,67}}</string>
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>Flight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,58},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1167,58},{64,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>menu_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,113},{71,229}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1003,113},{71,229}}</string>
				<key>sourceSize</key>
				<string>{73,237}</string>
			</dict>
			<key>Multiplayer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,271},{82,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1159,271},{82,68}}</string>
				<key>sourceSize</key>
				<string>{82,68}</string>
			</dict>
			<key>dot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,58},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,58},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>Favorite.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,428},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{986,428},{64,67}}</string>
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>jackpotbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,433},{108,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1055,433},{108,54}}</string>
				<key>sourceSize</key>
				<string>{108,54}</string>
			</dict>
			<key>Slots.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,383},{103,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{800,383},{103,77}}</string>
				<key>sourceSize</key>
				<string>{103,77}</string>
			</dict>
			<key>icon_setting1.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,383},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{905,383},{78,79}}</string>
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,346},{232,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,346},{232,160}}</string>
				<key>sourceSize</key>
				<string>{232,160}</string>
			</dict>
			<key>menu_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,383},{71,205}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{488,383},{71,205}}</string>
				<key>sourceSize</key>
				<string>{73,237}</string>
			</dict>
			<key>jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,2},{188,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,2},{188,54}}</string>
				<key>sourceSize</key>
				<string>{188,54}</string>
			</dict>
			<key>table_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1026,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1026,109}}</string>
				<key>sourceSize</key>
				<string>{1028,109}</string>
			</dict>
			<key>bg_hall_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,113},{457,268}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{544,113},{457,268}}</string>
				<key>sourceSize</key>
				<string>{461,272}</string>
			</dict>
			<key>Flight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,130},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1167,130},{64,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,58},{204,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1076,58},{204,89}}</string>
				<key>sourceSize</key>
				<string>{204,89}</string>
			</dict>
			<key>btn_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,425},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1165,425},{62,62}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,264},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1076,264},{80,81}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,346},{120,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{236,346},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,250}</string>
			</dict>
			<key>bottom_ke.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,468},{8,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{236,468},{8,116}}</string>
				<key>sourceSize</key>
				<string>{8,128}</string>
			</dict>
			<key>Slots1.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,383},{103,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,383},{103,77}}</string>
				<key>sourceSize</key>
				<string>{103,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>hall_pic.png</string>
			<key>size</key>
			<string>{1233,508}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>hall_pic.png</string>
		</dict>
	</dict>
</plist>
