<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ComingSoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1104},{320,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,48}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1801},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,715},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,890},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1216},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1906},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1906},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,511},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,613},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1799},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,817},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{507,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,92}}</string>
                <key>sourceSize</key>
                <string>{507,92}</string>
            </dict>
            <key>btn_level1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{507,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,92}}</string>
                <key>sourceSize</key>
                <string>{507,92}</string>
            </dict>
            <key>btn_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1104},{338,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,70}}</string>
                <key>sourceSize</key>
                <string>{338,70}</string>
            </dict>
            <key>btn_level2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{1016,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1016,72}}</string>
                <key>sourceSize</key>
                <string>{1016,72}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1104},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>gg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{1022,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,292}}</string>
                <key>sourceSize</key>
                <string>{1022,292}</string>
            </dict>
            <key>gg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1022,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,292}}</string>
                <key>sourceSize</key>
                <string>{1022,292}</string>
            </dict>
            <key>gg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1026},{1020,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1020,290}}</string>
                <key>sourceSize</key>
                <string>{1022,292}</string>
            </dict>
            <key>gg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{1020,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1020,290}}</string>
                <key>sourceSize</key>
                <string>{1022,292}</string>
            </dict>
            <key>icon_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1424},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>icon_data_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1444},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>icon_jiangjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1957},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1713},{128,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>icon_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1827},{128,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>icon_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1018},{128,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>icon_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1799},{96,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,63}}</string>
                <key>sourceSize</key>
                <string>{96,63}</string>
            </dict>
            <key>icon_tiaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1906},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1957},{2,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,10}}</string>
                <key>sourceSize</key>
                <string>{2,10}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1328},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{94,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>t2_Daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1444},{267,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,129}}</string>
                <key>sourceSize</key>
                <string>{267,129}</string>
            </dict>
            <key>t2_Monthly.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,691},{411,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,129}}</string>
                <key>sourceSize</key>
                <string>{411,129}</string>
            </dict>
            <key>t2_Weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1104},{367,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,129}}</string>
                <key>sourceSize</key>
                <string>{367,129}</string>
            </dict>
            <key>t_Daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,639},{249,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,102}}</string>
                <key>sourceSize</key>
                <string>{249,102}</string>
            </dict>
            <key>t_Monthly.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1473},{352,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,92}}</string>
                <key>sourceSize</key>
                <string>{352,92}</string>
            </dict>
            <key>t_Weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1473},{326,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,92}}</string>
                <key>sourceSize</key>
                <string>{326,92}</string>
            </dict>
            <key>t_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{687,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,114}}</string>
                <key>sourceSize</key>
                <string>{687,114}</string>
            </dict>
            <key>table_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1503},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1605},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>table_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,511},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{971,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9e679a7faf57cc9a8ceb4ad9512f87$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
