<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,117},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{314,117},{100,101}}</string>
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>icon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,2},{98,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,2},{98,101}}</string>
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>lock_tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,142},{310,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,142},{310,70}}</string>
				<key>sourceSize</key>
				<string>{310,70}</string>
			</dict>
			<key>download.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,105},{98,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,105},{98,101}}</string>
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>icon_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{136,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{136,138}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>icon_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,2},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,2},{113,113}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>icon_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,2},{129,131}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,2},{129,131}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Slot.png</string>
			<key>size</key>
			<string>{517,219}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Slot.png</string>
		</dict>
	</dict>
</plist>
