<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game-Bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,342},{162,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{162,26}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>Withdraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,506},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1170},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>gift_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1274},{94,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,108}</string>
            </dict>
            <key>gift_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,244},{118,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,96}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>gift_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,762},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1064},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>gift_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1484},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>gift_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,978},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>gift_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1838},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>gift_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1484},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>gift_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1610},{116,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>gift_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,856},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>gift_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,842},{114,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,124}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>gift_evil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1889},{142,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>gift_kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1936},{114,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,674},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,506},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,338},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,170},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1553},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1385},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1217},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>head_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>icon_league_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,205}}</string>
                <key>sourceSize</key>
                <string>{176,205}</string>
            </dict>
            <key>icon_task_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1757},{92,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,69}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>icon_task_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1923},{91,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>icon_task_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1910},{91,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>icon_task_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1841},{91,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>icon_task_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1688},{95,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,67}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>icon_task_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1772},{91,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>icon_task_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1828},{93,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1728},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>text_vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,658},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>text_vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1841},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>vip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1586},{96,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1072},{96,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1476},{100,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1674},{100,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{100,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,554},{110,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{110,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,448},{110,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{110,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,342},{110,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{110,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1098},{128,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{128,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,968},{128,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{128,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1356},{126,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{126,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1228},{126,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{126,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,124},{126,118}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{126,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1380},{96,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{134,120}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{134,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,960},{108,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{108,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,856},{108,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{108,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,658},{108,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{108,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1374},{100,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1576},{100,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{100,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1274},{100,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>vip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1174},{100,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_usercommon.png</string>
            <key>size</key>
            <string>{484,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4823273f9da35e5ce7b02210c1b1936$</string>
            <key>textureFileName</key>
            <string>texture_usercommon.png</string>
        </dict>
    </dict>
</plist>
