<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_skin_shop_bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>bg_skin_shop_ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{3,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,192}}</string>
                <key>sourceSize</key>
                <string>{3,192}</string>
            </dict>
            <key>bg_skin_shop_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{188,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,189}}</string>
                <key>sourceSize</key>
                <string>{188,189}</string>
            </dict>
            <key>btn_skin_shop_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{103,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>emoji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,205}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{342,205}}</string>
                <key>sourceSize</key>
                <string>{404,225}</string>
            </dict>
            <key>icon_skin_shop_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>icon_skin_shop_own_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1003},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_skin_shop_own_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,941},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_tabbar_select_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1199},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>icon_tabbar_select_booster.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1198},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>icon_tabbar_select_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1006},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>icon_tabbar_select_emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1132},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>icon_tabbar_select_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>icon_tabbar_select_poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1265},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>icon_tabbar_select_poker_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{58,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>icon_tabbar_select_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,941},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>icon_tabbar_unselect_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1132},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>icon_tabbar_unselect_booster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>icon_tabbar_unselect_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,55}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>icon_tabbar_unselect_emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1065},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>icon_tabbar_unselect_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1065},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>icon_tabbar_unselect_poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>icon_tabbar_unselect_poker_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1265},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>icon_tabbar_unselect_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>text_skin_shop_hot_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,861},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>text_skin_shop_hot_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>text_skin_shop_new_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,794},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>text_skin_shop_new_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,727},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_skin_shop.png</string>
            <key>size</key>
            <string>{209,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8f8a8a92859a45cdd9fc756d2c18ec8:1/1$</string>
            <key>textureFileName</key>
            <string>texture_skin_shop.png</string>
        </dict>
    </dict>
</plist>
