<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>5X.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,2},{64,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,2},{64,35}}</string>
				<key>sourceSize</key>
				<string>{64,35}</string>
			</dict>
			<key>3X.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,2},{62,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,2},{62,35}}</string>
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>
			<key>1X.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,2},{58,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,2},{58,35}}</string>
				<key>sourceSize</key>
				<string>{58,35}</string>
			</dict>
			<key>2X.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,2},{61,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,2},{61,35}}</string>
				<key>sourceSize</key>
				<string>{61,35}</string>
			</dict>
			<key>10X.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,2},{79,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,2},{79,35}}</string>
				<key>sourceSize</key>
				<string>{79,35}</string>
			</dict>
			<key>15X.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{80,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{80,35}}</string>
				<key>sourceSize</key>
				<string>{80,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>base.png</string>
			<key>size</key>
			<string>{421,39}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>base.png</string>
		</dict>
	</dict>
</plist>
