<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FREEGAME.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,555},{123,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,555},{123,22}}</string>
				<key>sourceSize</key>
				<string>{123,22}</string>
			</dict>
			<key>anniu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1322},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,1322},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,71},{352,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,71},{352,67}}</string>
				<key>sourceSize</key>
				<string>{352,67}</string>
			</dict>
			<key>anniu_07C.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,303},{24,38}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{319,303},{24,38}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,727},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,727},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_04C.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1330},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,1330},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>caozuo_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,140},{1188,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,140},{1188,315}}</string>
				<key>sourceSize</key>
				<string>{1188,315}</string>
			</dict>
			<key>anniu_03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1322},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,1322},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1330},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,1330},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,421},{133,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,421},{133,132}}</string>
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>anniu_03C.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1330},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{302,1330},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_02C.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,153},{133,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,153},{133,132}}</string>
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>anniu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1171},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{319,1171},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>TOTALBET.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,329},{118,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{319,329},{118,22}}</string>
				<key>sourceSize</key>
				<string>{118,22}</string>
			</dict>
			<key>anniu_01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,579},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,579},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>jinbi_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{352,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{352,67}}</string>
				<key>sourceSize</key>
				<string>{352,67}</string>
			</dict>
			<key>anniu_01C.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,2},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{356,2},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1330},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,1330},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_07D.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1330},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1330},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>TOTALWIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,449},{115,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{319,449},{115,22}}</string>
				<key>sourceSize</key>
				<string>{115,22}</string>
			</dict>
			<key>anniu_07B.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,275},{26,38}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{319,275},{26,38}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_02B.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,287},{133,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,287},{133,132}}</string>
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>anniu_00B.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1023},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,1023},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_00C.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,875},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,875},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1330},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,1330},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,153},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{319,153},{120,40}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bottom.png</string>
			<key>size</key>
			<string>{504,1390}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bottom.png</string>
		</dict>
	</dict>
</plist>
