<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,515},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{738,515},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,718},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,718},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>wheel_Win_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,838},{87,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1661,838},{87,26}}</string>
				<key>sourceSize</key>
				<string>{87,26}</string>
			</dict>
			<key>x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,719},{197,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1341,719},{197,199}}</string>
				<key>sourceSize</key>
				<string>{197,199}</string>
			</dict>
			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,251},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1298,251},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,143},{427,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1099,143},{427,106}}</string>
				<key>sourceSize</key>
				<string>{427,106}</string>
			</dict>
			<key>symbol15.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,759},{189,157}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,759},{189,157}}</string>
				<key>sourceSize</key>
				<string>{195,161}</string>
			</dict>
			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,728},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{456,728},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>shuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,838},{119,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1540,838},{119,92}}</string>
				<key>sourceSize</key>
				<string>{119,92}</string>
			</dict>
			<key>Win_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,718},{231,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,718},{231,208}}</string>
				<key>sourceSize</key>
				<string>{231,208}</string>
			</dict>
			<key>x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,719},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{937,719},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>wheel_Win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,55},{509,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1168,55},{509,86}}</string>
				<key>sourceSize</key>
				<string>{509,86}</string>
			</dict>
			<key>x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,499},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1425,499},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>wenzikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,209},{719,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,209},{719,210}}</string>
				<key>sourceSize</key>
				<string>{719,210}</string>
			</dict>
			<key>GaroGem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1824,947}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1824,947}}</string>
				<key>sourceSize</key>
				<string>{1830,951}</string>
			</dict>
			<key>x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,499},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1624,499},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>ex_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,702},{105,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1700,702},{105,87}}</string>
				<key>sourceSize</key>
				<string>{105,87}</string>
			</dict>
			<key>Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,439},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1700,439},{56,58}}</string>
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,520},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1181,520},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>ex_guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,770},{156,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1540,770},{156,66}}</string>
				<key>sourceSize</key>
				<string>{156,66}</string>
			</dict>
			<key>wenzi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,161},{1031,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,161},{1031,46}}</string>
				<key>sourceSize</key>
				<string>{1031,46}</string>
			</dict>
			<key>x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,300},{197,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1497,300},{197,201}}</string>
				<key>sourceSize</key>
				<string>{197,201}</string>
			</dict>
			<key>symbol14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,143},{189,155}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1528,143},{189,155}}</string>
				<key>sourceSize</key>
				<string>{195,161}</string>
			</dict>
			<key>Num_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,529},{490,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,529},{490,187}}</string>
				<key>sourceSize</key>
				<string>{490,187}</string>
			</dict>
			<key>shandian_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,161},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1035,161},{34,48}}</string>
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>biaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,453},{358,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,453},{358,60}}</string>
				<key>sourceSize</key>
				<string>{358,60}</string>
			</dict>
			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,520},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,520},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>wenzi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,108},{1095,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,108},{1095,51}}</string>
				<key>sourceSize</key>
				<string>{1095,51}</string>
			</dict>
			<key>wenzi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1720,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1720,51}}</string>
				<key>sourceSize</key>
				<string>{1720,51}</string>
			</dict>
			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,251},{281,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1015,251},{281,267}}</string>
				<key>sourceSize</key>
				<string>{281,267}</string>
			</dict>
			<key>x15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,719},{197,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1140,719},{197,199}}</string>
				<key>sourceSize</key>
				<string>{197,199}</string>
			</dict>
			<key>xiaobiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,300},{137,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1700,300},{137,48}}</string>
				<key>sourceSize</key>
				<string>{137,48}</string>
			</dict>
			<key>ex_kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,702},{158,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1540,702},{158,66}}</string>
				<key>sourceSize</key>
				<string>{158,66}</string>
			</dict>
			<key>shuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,791},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1698,791},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>FREEGAME.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,917},{170,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,917},{170,28}}</string>
				<key>sourceSize</key>
				<string>{170,28}</string>
			</dict>
			<key>jinbi_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,421},{586,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,421},{586,106}}</string>
				<key>sourceSize</key>
				<string>{586,106}</string>
			</dict>
			<key>wenzi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,55},{1164,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,55},{1164,51}}</string>
				<key>sourceSize</key>
				<string>{1164,51}</string>
			</dict>
			<key>wenzi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,759},{136,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{891,759},{136,24}}</string>
				<key>sourceSize</key>
				<string>{136,24}</string>
			</dict>
			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,529},{242,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{494,529},{242,197}}</string>
				<key>sourceSize</key>
				<string>{242,197}</string>
			</dict>
			<key>shandian_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,421},{30,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{590,421},{30,48}}</string>
				<key>sourceSize</key>
				<string>{30,48}</string>
			</dict>
			<key>shandian_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,2},{102,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1724,2},{102,92}}</string>
				<key>sourceSize</key>
				<string>{102,92}</string>
			</dict>
			<key>fanbeikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,209},{290,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,209},{290,242}}</string>
				<key>sourceSize</key>
				<string>{290,242}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GaroGem2.png</string>
			<key>size</key>
			<string>{1830,951}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>GaroGem2.png</string>
		</dict>
	</dict>
</plist>
