<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,412},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{688,412},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>success.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,304},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1318,304},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,202},{100,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1318,202},{100,160}}</string>
				<key>sourceSize</key>
				<string>{100,160}</string>
			</dict>
			<key>icon_shouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,314},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1624,314},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,412},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{576,412},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>icon_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,406},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1276,406},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>shengchazhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,482},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1830,482},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,24},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1686,24},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>his_quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,464},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1184,464},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>bank_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,412},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1856,412},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>filter_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,309},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1726,309},{100,70}}</string>
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,202},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1480,202},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>his_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,202},{40,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1808,202},{40,4}}</string>
				<key>sourceSize</key>
				<string>{40,4}</string>
			</dict>
			<key>his_txtbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,468},{50,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{912,468},{50,100}}</string>
				<key>sourceSize</key>
				<string>{50,100}</string>
			</dict>
			<key>his_cpy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,482},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1786,482},{38,42}}</string>
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
			<key>icon_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,24},{188,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1496,24},{188,154}}</string>
				<key>sourceSize</key>
				<string>{188,154}</string>
			</dict>
			<key>bangding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,464},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1144,464},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>bg_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{908,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{908,408}}</string>
				<key>sourceSize</key>
				<string>{908,408}</string>
			</dict>
			<key>progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{1420,314},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1420,314},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>input.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,208},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1808,208},{100,102}}</string>
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>wancheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,412},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1786,412},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,464},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1104,464},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>icon_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,468},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1014,468},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>withdraw_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,104},{102,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1872,104},{102,105}}</string>
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,412},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{800,412},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,306},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,306},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>btn_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,402},{200,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,402},{200,60}}</string>
				<key>sourceSize</key>
				<string>{200,60}</string>
			</dict>
			<key>title_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,2},{958,20}}</string>
				<key>offset</key>
				<string>{-21,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,2},{958,20}}</string>
				<key>sourceSize</key>
				<string>{1000,20}</string>
			</dict>
			<key>jujue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,470},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1870,470},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>shangchuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,24},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,24},{200,280}}</string>
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>add_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,416},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1684,416},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,412},{460,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,412},{460,110}}</string>
				<key>sourceSize</key>
				<string>{460,110}</string>
			</dict>
			<key>his_tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1736,136},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1736,136},{100,64}}</string>
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>
			<key>title_qie_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,204},{202,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1114,204},{202,104}}</string>
				<key>sourceSize</key>
				<string>{202,104}</string>
			</dict>
			<key>his_tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1798,24},{100,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1798,24},{100,72}}</string>
				<key>sourceSize</key>
				<string>{100,72}</string>
			</dict>
			<key>title_qie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,310},{240,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,310},{240,90}}</string>
				<key>sourceSize</key>
				<string>{240,90}</string>
			</dict>
			<key>fail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,416},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1480,416},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>btn_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,412},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1914,412},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>bottom_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1872,2},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1872,2},{100,118}}</string>
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>
			<key>icon_zhongyao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,136},{48,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1686,136},{48,42}}</string>
				<key>sourceSize</key>
				<string>{48,42}</string>
			</dict>
			<key>row.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,520},{100,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,520},{100,2}}</string>
				<key>sourceSize</key>
				<string>{100,2}</string>
			</dict>
			<key>his_cus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,310},{100,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1900,310},{100,66}}</string>
				<key>sourceSize</key>
				<string>{100,66}</string>
			</dict>
			<key>filter_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,208},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1912,208},{100,70}}</string>
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,180},{20,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1496,180},{20,214}}</string>
				<key>sourceSize</key>
				<string>{20,214}</string>
			</dict>
			<key>dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,468},{36,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1066,468},{36,38}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>his_arr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1966,412},{28,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1966,412},{28,24}}</string>
				<key>sourceSize</key>
				<string>{28,24}</string>
			</dict>
			<key>icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,202},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1592,202},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>heidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1378,416},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1378,416},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>kuang_chenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,24},{176,176}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1318,24},{176,176}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>add_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,202},{102,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1704,202},{102,105}}</string>
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>his_line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,104},{96,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1979,104},{96,3}}</string>
				<key>sourceSize</key>
				<string>{96,3}</string>
			</dict>
			<key>bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,416},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1582,416},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>kuang_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,24},{202,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1114,24},{202,178}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>icon_tichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,314},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1522,314},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>icon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,412},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{464,412},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>icon_dedao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1798,310},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1798,310},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>btn_filter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,126},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1838,126},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>2a939bfe-d905-4443-a3ef-166aabd8da4d.png</string>
			<key>size</key>
			<string>{1992,524}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>2a939bfe-d905-4443-a3ef-166aabd8da4d.png</string>
		</dict>
	</dict>
</plist>
