<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chips.png</string>
            <key>size</key>
            <string>{1806,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d667984893482e08a6d0f1f99564210f:1/1$</string>
            <key>textureFileName</key>
            <string>Chips.png</string>
        </dict>
    </dict>
</plist>
