<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/input_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{130,144}</string>
            </dict>
            <key>img/num_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>input_nums.png</string>
            <key>size</key>
            <string>{134,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2796ce29ac23ef55c7721b4c9c6c595a:1/1$</string>
            <key>textureFileName</key>
            <string>input_nums.png</string>
        </dict>
    </dict>
</plist>
