<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>plist_puke_back_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,238}}</string>
                <key>sourceSize</key>
                <string>{178,240}</string>
            </dict>
            <key>plist_puke_back_big_arab.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{178,236}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>plist_puke_back_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{58,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>plist_puke_back_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,192},{42,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>plist_puke_back_xl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{166,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{172,230}</string>
            </dict>
            <key>plist_puke_color_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>plist_puke_color_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,100},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>plist_puke_color_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>plist_puke_color_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,94},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>plist_puke_color_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,220},{30,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>plist_puke_color_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,109},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>plist_puke_color_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,220},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>plist_puke_color_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,143},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>plist_puke_color_xl_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,88},{80,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>plist_puke_color_xl_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,88},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>plist_puke_color_xl_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,2},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>plist_puke_color_xl_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,2},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>plist_puke_color_xl_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,203},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>plist_puke_color_xl_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,203},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>plist_puke_color_xl_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,203},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>plist_puke_color_xl_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,203},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>plist_puke_front_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,238}}</string>
                <key>sourceSize</key>
                <string>{178,240}</string>
            </dict>
            <key>plist_puke_front_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,194},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,76}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>plist_puke_front_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{168,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,228}}</string>
                <key>sourceSize</key>
                <string>{172,230}</string>
            </dict>
            <key>plist_puke_joker_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,198}</string>
            </dict>
            <key>plist_puke_joker_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,198}</string>
            </dict>
            <key>plist_puke_joker_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,232},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>plist_puke_joker_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,232},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>plist_puke_joker_xl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{150,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{150,199}</string>
            </dict>
            <key>plist_puke_joker_xl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{150,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{150,199}</string>
            </dict>
            <key>plist_puke_value_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,41},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>plist_puke_value_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,203},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>plist_puke_value_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2160,192},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>plist_puke_value_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,203},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>plist_puke_value_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,64},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>plist_puke_value_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2320,170},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2255,170},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>plist_puke_value_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2321,140},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2229,221},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>plist_puke_value_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>plist_puke_value_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,203},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>plist_puke_value_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,202},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>plist_puke_value_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,174},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>plist_puke_value_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,194},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>plist_puke_value_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2321,110},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2255,126},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>plist_puke_value_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2321,80},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,177},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>plist_puke_value_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,202},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_xl_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2109,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>plist_puke_value_xl_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,86},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>plist_puke_value_xl_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2106,66},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>plist_puke_value_xl_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,185},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>plist_puke_value_xl_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2146,64},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>plist_puke_value_xl_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2282,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2094,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2244,64},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2213,126},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2064,66},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2187,188},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,130},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2136,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>plist_puke_value_xl_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,173},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>plist_puke_value_xl_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2069,130},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>plist_puke_value_xl_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,185},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>plist_puke_value_xl_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2054,194},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>plist_puke_value_xl_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2240,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,66},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2202,64},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2171,126},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,156},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2198,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>plist_puke_value_xl_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>plist_puke_value_xl_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,184},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>poker-red_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,174},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{2373,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e4fce60d69387e008baf9443626135$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
