<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>feitin_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{98,1070}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,2},{98,1070}}</string>
				<key>sourceSize</key>
				<string>{98,1070}</string>
			</dict>
			<key>blak_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,299},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{732,299},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ipnut_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,312},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,312},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,344},{116,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{190,344},{116,186}}</string>
				<key>sourceSize</key>
				<string>{116,186}</string>
			</dict>
			<key>ship.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,192},{184,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{484,192},{184,106}}</string>
				<key>sourceSize</key>
				<string>{184,106}</string>
			</dict>
			<key>switch_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,299},{90,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{892,299},{90,51}}</string>
				<key>sourceSize</key>
				<string>{90,51}</string>
			</dict>
			<key>prog_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,102},{680,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,102},{680,36}}</string>
				<key>sourceSize</key>
				<string>{682,38}</string>
			</dict>
			<key>top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,102},{40,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1029,102},{40,160}}</string>
				<key>sourceSize</key>
				<string>{40,160}</string>
			</dict>
			<key>btn_cashout.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{116,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,344},{116,186}}</string>
				<key>sourceSize</key>
				<string>{116,186}</string>
			</dict>
			<key>btn_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,192},{118,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{294,192},{118,188}}</string>
				<key>sourceSize</key>
				<string>{118,188}</string>
			</dict>
			<key>dot_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,440},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,440},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>ipnut.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,300},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{506,300},{122,122}}</string>
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>prog.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,140},{680,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,140},{680,36}}</string>
				<key>sourceSize</key>
				<string>{682,38}</string>
			</dict>
			<key>records_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,402},{94,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{630,402},{94,56}}</string>
				<key>sourceSize</key>
				<string>{94,56}</string>
			</dict>
			<key>switch_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,290},{90,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,290},{90,51}}</string>
				<key>sourceSize</key>
				<string>{90,51}</string>
			</dict>
			<key>records_reg.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,299},{94,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{834,299},{94,56}}</string>
				<key>sourceSize</key>
				<string>{94,56}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,102},{225,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{684,102},{225,195}}</string>
				<key>sourceSize</key>
				<string>{225,195}</string>
			</dict>
			<key>bottom_black_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,102},{116,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{911,102},{116,186}}</string>
				<key>sourceSize</key>
				<string>{116,186}</string>
			</dict>
			<key>coor_axis.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,178},{12,513}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,178},{12,513}}</string>
				<key>sourceSize</key>
				<string>{12,513}</string>
			</dict>
			<key>dot_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,440},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,440},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{630,300},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{150,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,192},{150,290}}</string>
				<key>sourceSize</key>
				<string>{150,290}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>zeppelin.png</string>
			<key>size</key>
			<string>{1074,462}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>zeppelin.png</string>
		</dict>
	</dict>
</plist>
