<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10108_symbols_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1518},{164,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1518},{164,139}}</string>
				<key>sourceSize</key>
				<string>{164,139}</string>
			</dict>
			<key>10108_symbols_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1518},{164,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,1518},{164,139}}</string>
				<key>sourceSize</key>
				<string>{164,139}</string>
			</dict>
			<key>10108_symbols_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1403},{187,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1403},{187,113}}</string>
				<key>sourceSize</key>
				<string>{187,113}</string>
			</dict>
			<key>10108_symbols_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,357},{187,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,357},{187,176}}</string>
				<key>sourceSize</key>
				<string>{187,176}</string>
			</dict>
			<key>10108_symbols_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,765},{6,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{198,765},{6,288}}</string>
				<key>sourceSize</key>
				<string>{6,288}</string>
			</dict>
			<key>10108_symbols_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,179},{187,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,179},{187,176}}</string>
				<key>sourceSize</key>
				<string>{187,176}</string>
			</dict>
			<key>10108_symbols_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,535},{187,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,535},{187,176}}</string>
				<key>sourceSize</key>
				<string>{187,176}</string>
			</dict>
			<key>10108_symbols_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,765},{195,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,765},{195,178}}</string>
				<key>sourceSize</key>
				<string>{195,178}</string>
			</dict>
			<key>10108_symbols_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1125},{195,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1125},{195,178}}</string>
				<key>sourceSize</key>
				<string>{195,178}</string>
			</dict>
			<key>10108_symbols_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1305},{195,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1305},{195,96}}</string>
				<key>sourceSize</key>
				<string>{195,96}</string>
			</dict>
			<key>10108_symbols_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1426},{187,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{190,1426},{187,77}}</string>
				<key>sourceSize</key>
				<string>{187,77}</string>
			</dict>
			<key>10108_symbols_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,713},{187,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,713},{187,164}}</string>
				<key>sourceSize</key>
				<string>{187,164}</string>
			</dict>
			<key>10108_symbols_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{208,762}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{208,762}}</string>
				<key>sourceSize</key>
				<string>{208,762}</string>
			</dict>
			<key>10108_symbols_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{187,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,1},{187,176}}</string>
				<key>sourceSize</key>
				<string>{187,176}</string>
			</dict>
			<key>10108_symbols_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{195,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,945},{195,178}}</string>
				<key>sourceSize</key>
				<string>{195,178}</string>
			</dict>
			<key>10108_symbols_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,879},{190,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,879},{190,365}}</string>
				<key>sourceSize</key>
				<string>{190,365}</string>
			</dict>
			<key>10108_symbols_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1246},{195,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{198,1246},{195,178}}</string>
				<key>sourceSize</key>
				<string>{195,178}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10108_symbols.png</string>
			<key>size</key>
			<string>{400,1660}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10108_symbols.png</string>
		</dict>
	</dict>
</plist>
