<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10108_base_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1783},{195,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{626,1783},{195,32}}</string>
				<key>sourceSize</key>
				<string>{195,32}</string>
			</dict>
			<key>10108_base_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1709},{36,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{828,1709},{36,127}}</string>
				<key>sourceSize</key>
				<string>{36,127}</string>
			</dict>
			<key>10108_base_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1153},{246,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,1153},{246,92}}</string>
				<key>sourceSize</key>
				<string>{246,92}</string>
			</dict>
			<key>10108_base_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1422},{22,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,1422},{22,286}}</string>
				<key>sourceSize</key>
				<string>{22,286}</string>
			</dict>
			<key>10108_base_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,577},{195,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,577},{195,286}}</string>
				<key>sourceSize</key>
				<string>{195,286}</string>
			</dict>
			<key>10108_base_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1422},{33,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{827,1422},{33,285}}</string>
				<key>sourceSize</key>
				<string>{33,285}</string>
			</dict>
			<key>10108_base_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1817},{188,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{626,1817},{188,32}}</string>
				<key>sourceSize</key>
				<string>{188,32}</string>
			</dict>
			<key>10108_base_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1339},{189,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{584,1339},{189,81}}</string>
				<key>sourceSize</key>
				<string>{189,81}</string>
			</dict>
			<key>10108_base_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1710},{190,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,1710},{190,71}}</string>
				<key>sourceSize</key>
				<string>{190,71}</string>
			</dict>
			<key>10108_base_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1435},{631,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1435},{631,181}}</string>
				<key>sourceSize</key>
				<string>{631,181}</string>
			</dict>
			<key>10108_base_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1422},{24,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{862,1422},{24,285}}</string>
				<key>sourceSize</key>
				<string>{24,285}</string>
			</dict>
			<key>10108_base_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1422},{22,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,1422},{22,286}}</string>
				<key>sourceSize</key>
				<string>{22,286}</string>
			</dict>
			<key>10108_base_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1830},{592,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1830},{592,46}}</string>
				<key>sourceSize</key>
				<string>{592,46}</string>
			</dict>
			<key>10108_base_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1811},{623,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1811},{623,17}}</string>
				<key>sourceSize</key>
				<string>{623,17}</string>
			</dict>
			<key>10108_base_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1725},{623,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1725},{623,33}}</string>
				<key>sourceSize</key>
				<string>{623,33}</string>
			</dict>
			<key>10108_base_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{695,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{695,371}}</string>
				<key>sourceSize</key>
				<string>{695,371}</string>
			</dict>
			<key>10108_base_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1339},{161,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{775,1339},{161,81}}</string>
				<key>sourceSize</key>
				<string>{161,81}</string>
			</dict>
			<key>10108_base_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1247},{352,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{584,1247},{352,66}}</string>
				<key>sourceSize</key>
				<string>{352,66}</string>
			</dict>
			<key>10108_base_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,691},{16,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{674,691},{16,287}}</string>
				<key>sourceSize</key>
				<string>{16,287}</string>
			</dict>
			<key>10108_base_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{674,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,980},{674,194}}</string>
				<key>sourceSize</key>
				<string>{674,194}</string>
			</dict>
			<key>10108_base_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,769},{6,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,769},{6,288}}</string>
				<key>sourceSize</key>
				<string>{6,288}</string>
			</dict>
			<key>10108_base_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1618},{633,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1618},{633,105}}</string>
				<key>sourceSize</key>
				<string>{633,105}</string>
			</dict>
			<key>10108_base_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,865},{189,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{692,865},{189,286}}</string>
				<key>sourceSize</key>
				<string>{189,286}</string>
			</dict>
			<key>10108_base_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1176},{42,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{584,1176},{42,67}}</string>
				<key>sourceSize</key>
				<string>{42,67}</string>
			</dict>
			<key>10108_base_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,865},{17,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,865},{17,286}}</string>
				<key>sourceSize</key>
				<string>{17,286}</string>
			</dict>
			<key>10108_base_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,691},{671,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,691},{671,287}}</string>
				<key>sourceSize</key>
				<string>{671,287}</string>
			</dict>
			<key>10108_base_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1176},{581,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1176},{581,257}}</string>
				<key>sourceSize</key>
				<string>{581,257}</string>
			</dict>
			<key>10108_base_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1878},{592,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1878},{592,32}}</string>
				<key>sourceSize</key>
				<string>{592,32}</string>
			</dict>
			<key>10108_base_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1791},{623,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1791},{623,18}}</string>
				<key>sourceSize</key>
				<string>{623,18}</string>
			</dict>
			<key>10108_base_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1315},{358,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{584,1315},{358,22}}</string>
				<key>sourceSize</key>
				<string>{358,22}</string>
			</dict>
			<key>10108_base_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1},{56,766}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{904,1},{56,766}}</string>
				<key>sourceSize</key>
				<string>{56,766}</string>
			</dict>
			<key>10108_base_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1859},{147,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{784,1859},{147,48}}</string>
				<key>sourceSize</key>
				<string>{147,48}</string>
			</dict>
			<key>10108_base_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1176},{20,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{628,1176},{20,29}}</string>
				<key>sourceSize</key>
				<string>{20,29}</string>
			</dict>
			<key>10108_base_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{691,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,374},{691,315}}</string>
				<key>sourceSize</key>
				<string>{691,315}</string>
			</dict>
			<key>10108_base_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1785},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{866,1785},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>10108_base_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1912},{619,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1912},{619,14}}</string>
				<key>sourceSize</key>
				<string>{619,14}</string>
			</dict>
			<key>10108_base_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1422},{18,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1422},{18,286}}</string>
				<key>sourceSize</key>
				<string>{18,286}</string>
			</dict>
			<key>10108_base_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1422},{189,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,1422},{189,286}}</string>
				<key>sourceSize</key>
				<string>{189,286}</string>
			</dict>
			<key>10108_base_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1710},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{866,1710},{73,73}}</string>
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>10108_base_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,769},{15,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,769},{15,16}}</string>
				<key>sourceSize</key>
				<string>{15,16}</string>
			</dict>
			<key>10108_base_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,289},{204,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,289},{204,286}}</string>
				<key>sourceSize</key>
				<string>{204,286}</string>
			</dict>
			<key>10108_base_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,769},{14,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{920,769},{14,290}}</string>
				<key>sourceSize</key>
				<string>{14,290}</string>
			</dict>
			<key>10108_base_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1851},{187,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,1851},{187,33}}</string>
				<key>sourceSize</key>
				<string>{187,33}</string>
			</dict>
			<key>10108_base_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1760},{623,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1760},{623,29}}</string>
				<key>sourceSize</key>
				<string>{623,29}</string>
			</dict>
			<key>10108_base_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1},{204,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,1},{204,286}}</string>
				<key>sourceSize</key>
				<string>{204,286}</string>
			</dict>
			<key>10108_base_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,769},{16,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{902,769},{16,288}}</string>
				<key>sourceSize</key>
				<string>{16,288}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>10108_base.png</string>
			<key>size</key>
			<string>{964,1928}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>10108_base.png</string>
		</dict>
	</dict>
</plist>
