<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anniu_07C.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,412},{31,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{975,412},{31,45}}</string>
				<key>sourceSize</key>
				<string>{31,45}</string>
			</dict>
			<key>anniu_00B.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,186},{238,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,186},{238,179}}</string>
				<key>sourceSize</key>
				<string>{238,179}</string>
			</dict>
			<key>anniu_07B.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,365},{39,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{981,365},{39,45}}</string>
				<key>sourceSize</key>
				<string>{39,45}</string>
			</dict>
			<key>anniu_02C.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,2},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,2},{153,119}}</string>
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>anniu_02B.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,123},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,123},{153,119}}</string>
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>anniu_01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,186},{238,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,186},{238,179}}</string>
				<key>sourceSize</key>
				<string>{238,179}</string>
			</dict>
			<key>anniu_06B.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,611},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,611},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>anniu_03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,407},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,407},{108,98}}</string>
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>anniu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,186},{109,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,186},{109,98}}</string>
				<key>sourceSize</key>
				<string>{109,98}</string>
			</dict>
			<key>anniu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,244},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,244},{153,119}}</string>
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>anniu_06C.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,509},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,509},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>anniu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,367},{238,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,367},{238,179}}</string>
				<key>sourceSize</key>
				<string>{238,179}</string>
			</dict>
			<key>anniu_00C.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,548},{238,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,548},{238,177}}</string>
				<key>sourceSize</key>
				<string>{238,179}</string>
			</dict>
			<key>anniu_01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,365},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,365},{120,40}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>jinbi_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,98},{575,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,98},{575,86}}</string>
				<key>sourceSize</key>
				<string>{575,86}</string>
			</dict>
			<key>anniu_04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1221},{109,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,1221},{109,98}}</string>
				<key>sourceSize</key>
				<string>{109,98}</string>
			</dict>
			<key>anniu_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,713},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,713},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>FREEGAME.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,445},{186,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{975,445},{186,29}}</string>
				<key>sourceSize</key>
				<string>{186,29}</string>
			</dict>
			<key>anniu_03C.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,297},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,297},{108,98}}</string>
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>anniu_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,407},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,407},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>TOTALWIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,815},{178,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{975,815},{178,29}}</string>
				<key>sourceSize</key>
				<string>{178,29}</string>
			</dict>
			<key>anniu_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1019},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,1019},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>TOTALBET.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,633},{180,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{975,633},{180,29}}</string>
				<key>sourceSize</key>
				<string>{180,29}</string>
			</dict>
			<key>anniu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,517},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,517},{108,98}}</string>
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{580,94}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{580,94}}</string>
				<key>sourceSize</key>
				<string>{582,94}</string>
			</dict>
			<key>anniu_04C.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1121},{109,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,1121},{109,98}}</string>
				<key>sourceSize</key>
				<string>{109,98}</string>
			</dict>
			<key>caozuo_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,2},{1286,273}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{584,2},{1286,273}}</string>
				<key>sourceSize</key>
				<string>{1362,273}</string>
			</dict>
			<key>anniu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,546},{238,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,546},{238,177}}</string>
				<key>sourceSize</key>
				<string>{238,179}</string>
			</dict>
			<key>anniu_05B.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,917},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,917},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>anniu_05C.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,815},{114,100}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{859,815},{114,100}}</string>
				<key>sourceSize</key>
				<string>{114,102}</string>
			</dict>
			<key>anniu_01C.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,367},{238,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,367},{238,177}}</string>
				<key>sourceSize</key>
				<string>{238,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bottom.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bottom.png</string>
		</dict>
	</dict>
</plist>
