<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme2002_paytable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{179,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,56}}</string>
                <key>sourceSize</key>
                <string>{179,56}</string>
            </dict>
            <key>theme2002_paytable_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,169},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,824},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,590},{128,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,110}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,476},{126,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,702},{116,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{116,110}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,283},{122,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{122,94}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,379},{94,88}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{94,88}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme2002_paytable_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,237}}</string>
                <key>sourceSize</key>
                <string>{165,237}</string>
            </dict>
            <key>theme2002_paytable_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,379},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>theme2002_paytable_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,475},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>theme2002_paytable_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,536},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>theme2002_paytable_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,954},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>theme2002_paytable_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,169},{305,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,46}}</string>
                <key>sourceSize</key>
                <string>{305,46}</string>
            </dict>
            <key>theme2002_paytable_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{539,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,46}}</string>
                <key>sourceSize</key>
                <string>{539,46}</string>
            </dict>
            <key>theme2002_paytable_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>theme2002_paytable_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{262,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbcc698b9a566f3044e7dcd8aa03432b:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
