<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anniu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1909},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1909},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_00C.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,809},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,809},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1826},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,1826},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_02B.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1396},{133,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1396},{133,132}}</string>
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>anniu_03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1886},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,1886},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_07C.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,1949},{24,38}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,1949},{24,38}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1530},{133,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1530},{133,132}}</string>
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>jinbi_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,2},{352,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{71,2},{352,67}}</string>
				<key>sourceSize</key>
				<string>{352,67}</string>
			</dict>
			<key>anniu_02C.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1262},{133,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1262},{133,132}}</string>
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>TOTALWIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1969},{115,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1969},{115,22}}</string>
				<key>sourceSize</key>
				<string>{115,22}</string>
			</dict>
			<key>TOTALBET.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1789},{118,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{122,1789},{118,22}}</string>
				<key>sourceSize</key>
				<string>{118,22}</string>
			</dict>
			<key>anniu_07B.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1909},{26,38}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,1909},{26,38}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_07D.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1789},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1789},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_01C.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,356},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,356},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>jinbi_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{352,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,2},{352,67}}</string>
				<key>sourceSize</key>
				<string>{352,67}</string>
			</dict>
			<key>anniu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1111},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,1111},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1706},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1706},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>FREEGAME.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,1664},{123,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{124,1664},{123,22}}</string>
				<key>sourceSize</key>
				<string>{123,22}</string>
			</dict>
			<key>anniu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,658},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,658},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,507},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,507},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_03C.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1849},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1849},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_00B.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,960},{149,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,960},{149,146}}</string>
				<key>sourceSize</key>
				<string>{149,146}</string>
			</dict>
			<key>anniu_04C.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1706},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,1706},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>anniu_01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1664},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1664},{120,40}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>anniu_04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1766},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,1766},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>texture_jungledelight_bottom.png</string>
			<key>size</key>
			<string>{150,1993}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>texture_jungledelight_bottom.png</string>
		</dict>
	</dict>
</plist>
