<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotMachine_bg_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{530,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,80}}</string>
                <key>sourceSize</key>
                <string>{530,80}</string>
            </dict>
            <key>slotMachine_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,201},{115,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,476}}</string>
                <key>sourceSize</key>
                <string>{115,476}</string>
            </dict>
            <key>slotMachine_bg_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,350}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{466,350}}</string>
                <key>sourceSize</key>
                <string>{466,356}</string>
            </dict>
            <key>slotMachine_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,84},{115,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,476}}</string>
                <key>sourceSize</key>
                <string>{115,476}</string>
            </dict>
            <key>slotMachine_bg_star_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,778},{143,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,161}}</string>
                <key>sourceSize</key>
                <string>{143,161}</string>
            </dict>
            <key>slotMachine_bg_star_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,757},{97,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,116}}</string>
                <key>sourceSize</key>
                <string>{97,116}</string>
            </dict>
            <key>slotMachine_bg_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{530,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,225}}</string>
                <key>sourceSize</key>
                <string>{530,225}</string>
            </dict>
            <key>slotMachine_popup_btn_collect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,478},{298,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,91}}</string>
                <key>sourceSize</key>
                <string>{298,91}</string>
            </dict>
            <key>slotMachine_popup_btn_collect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,664},{298,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,91}}</string>
                <key>sourceSize</key>
                <string>{298,91}</string>
            </dict>
            <key>slotMachine_popup_btn_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,571},{298,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,91}}</string>
                <key>sourceSize</key>
                <string>{298,91}</string>
            </dict>
            <key>slotMachine_popup_btn_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,478},{298,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,91}}</string>
                <key>sourceSize</key>
                <string>{298,91}</string>
            </dict>
            <key>slotMachine_popup_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,84},{658,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,74}}</string>
                <key>sourceSize</key>
                <string>{658,74}</string>
            </dict>
            <key>slotMachine_popup_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,354},{456,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,79}}</string>
                <key>sourceSize</key>
                <string>{456,79}</string>
            </dict>
            <key>slotMachine_popup_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,398},{409,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,78}}</string>
                <key>sourceSize</key>
                <string>{409,78}</string>
            </dict>
            <key>slotMachine_popup_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,318},{429,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,78}}</string>
                <key>sourceSize</key>
                <string>{429,78}</string>
            </dict>
            <key>slotMachine_popup_winFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,354},{558,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,182}}</string>
                <key>sourceSize</key>
                <string>{558,182}</string>
            </dict>
            <key>slotMachine_reel_dimmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,744},{191,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,61}}</string>
                <key>sourceSize</key>
                <string>{191,61}</string>
            </dict>
            <key>slotMachine_reel_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,757},{193,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,81}}</string>
                <key>sourceSize</key>
                <string>{193,81}</string>
            </dict>
            <key>slotMachine_reel_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,840},{184,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,81}}</string>
                <key>sourceSize</key>
                <string>{184,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_machine.png</string>
            <key>size</key>
            <string>{1024,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a00baaa46ef145fe2f48ae9e4f0cd4b:1/1$</string>
            <key>textureFileName</key>
            <string>slot_machine.png</string>
        </dict>
    </dict>
</plist>
