<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme160_s_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{139,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{139,109}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{139,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{139,109}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{141,115}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{141,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{141,93}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme160_s_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{141,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{141,51}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>subgame777_symbol.png</string>
            <key>size</key>
            <string>{145,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d918e5b885d1730cd0b526985c45501f:1/1$</string>
            <key>textureFileName</key>
            <string>subgame777_symbol.png</string>
        </dict>
    </dict>
</plist>
